
.active {
  font-weight: bold;
  font-size: 2rem;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

input {
  width: 400px;
}

div {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.total-score {
  color: green;
}

form {
  text-align: center;
}

#pangram {
  text-align: center;
}

h1 {
  text-align: center;
}
